name: ci
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:


jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    steps:
      # 1. Bring your code onto the runner
      - name: Checkout code
        uses: actions/checkout@v4
      # Check platform
      - run: uname -m               # outputs: aarch64
      - run: lsb_release -a         # shows Ubuntu 24.04 details

      - name: Install Hatch
        uses: pypa/hatch@install

      - name: Run tests
        run: hatch test -- -s
